@font-face {
  font-family: 'Redaction-35';
  src: url('../../assets/fonts/Redaction_35-Italic.woff2');
  /* src: url("C:\Users\CS_ba\HCDE 438\a_walk_in_the_park\a_walk_in_the_park\src\assets\fonts\Redaction_35-Italic.woff2"); */
}

@keyframes pixelate {
  0% {
    filter: none;
  }
  100% {
    filter: contrast(150%) saturate(2);
    transform: scale(1.5);
  }
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pixelated-welcome {
  font-size: 10rem;
  font-family: 'Redaction-35';
  animation: pixelate 2s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 3s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
  margin-top: 20px;
  display: flex;
  max-width:fit-content;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center;
  align-items: center;
  margin-top: 20vh;
  overflow: hidden;
}

.start-button{
  height: fit-content;
  width: fit-content;
  padding: 1rem 2rem 1rem 2rem;
  margin-right: 2rem;
  border: solid 1px black;
  font-size: 1.5rem;
  font-family: sans-serif;
  border-radius: 0.25rem;
}

.start-button:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}


 