@font-face {
  font-family: "Redaction-35";
  src: url("../../assets/fonts/Redaction_35-Italic.woff2");
}

.level3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
  margin: 0;
  padding: 0;
}

.message {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Redaction-35";
  font-size: 4rem;
}
